/*General*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
    font-family: 'Didact Gothic', sans-serif;
}

.form-control,input,button {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
}

label,p,th,td {
    font-size: 14px;
}

/* Clases */
.input-thin{
    padding: 0.21rem 0.75rem;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
    max-width: 4%;
}

.no-padding-lg{
    padding-left: 0;
    padding-right: 0;
    max-width: 15%;
}

.reserva{
    background-color: #0a6187;
    border: 1px solid white;
    color: white;
}

.estadia{
    background-color: #389438;
    border: 1px solid white;
    color: white;
}

.finalizada{
    background-color: #c3c3c3;
    border: 1px solid white;
    color: white;
}

th,td{
    height: 35px;
}

table.bordered-calendar th,table.bordered-calendar td{
    border: solid 1px lightgray;
}

/* Context Menu */


.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu--active1 {
    display: block;
}

.context-menu--active2 {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link1 {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link2 {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}

/* Otros */

.habitacion{
    width: 120px;
}

.fecha{
    width: 70px;
    height: 30px;
    overflow: hidden;
}

.modal-header{
    background-color: #3498DB;
    color: white;
}

tr.textoRed>td{
    font-size: 13px;
}

.card-header{
    background-color: #3498DB;
    border-bottom-color: #3489cd;
    color: white;
}

.card-block{
    padding: 0px 15px;
}

.btn.btn-outline-primary{
    border-color: #3498DB;
    color: #338ccd;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #3498DB;
    border-color: #3489cd;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 2px #3498DB;
    box-shadow: 0 0 0 2px #3489cd;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background-color: #3498DB;
    border-color: #3489cd;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
    box-shadow: 0 0 0 0.2rem #3489cd;
}

.btn-primary {
    color: #fff;
    background-color: #3498DB;
    border-color: #3489cd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3489cd;
    border-color: #3489cd;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #3498DB;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #3498DB;
    border-color: #3498DB;
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
    box-shadow: 0 0 0 0.2rem #3489cd;
}

a{
    color: black;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

input[type='file']>.fotografia{
    opacity: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 16px;
    /* 20px */
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #3498DB;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #3489cd;
}

/*NavBar*/

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom:30px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #78746f;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #78746f;
    font-weight: 600;
}

/* Spacers */

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

/*Dashboard*/

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 6rem;
}

.card-body-text{
    font-size: 1.5rem;
}

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.bg-card {
    background-color: #3498DB;
}

/*Estilos CV*/

.datosCV p {
    margin-bottom: 0px;
}

/*Estilos HE*/

a.crowded.nav-link{
    font-size:13px;
}

.fotografiaProducto{
    height: 220px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #4e4e4e !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    padding-top: 3px !important;
}

.select2-container .select2-selection--single{
    height: 35px !important;
    border-color: #cccccc !important;
}